
@{
    ViewData["Title"] = "Cart";
}
@model WebShop.Models.Products

<h3>Shopping cart</h3>
<br />
<table style="width:50%" class="border-bottom">
    <tr>
        <th>Product name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Discount</th>
    </tr>
    <tr>
        <td>Butter</td>
        <td>@Model.ButterQuantity</td>
        <td>@Model.PriceButter</td>
        <td>@Model.DiscountButter %</td>
    </tr>
    <tr>
        <td>Milk</td>
        <td>@Model.MilkQuantity</td>
        <td>@Model.PriceMilk</td>
        <td>@Model.DiscountMilk % on @Model.MilkDiscountQuantity item</td>
    </tr>
    <tr>
        <td>Bread</td>
        <td>@Model.BreadQuantity</td>
        <td>@Model.PriceBread</td>
        <td>@Model.DiscountBread % on @Model.BreadDiscountQuantity item</td>
    </tr>
</table>

<h4 class="font-weight-bold mt-3">Subtotal</h4>
<p class="h5">@Model.Subtotal $</p>
<br />


